body {
    background-color: rgb(14, 14, 14);
}

#logo-top {
    display: block;
    width: 110px;
    height: auto;
    margin: 0 auto;
}

header {
    background-color: rgb(85, 85, 85);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    margin-bottom: px;
}

.principal {
    text-align: center;
    font-size: 75px;
    font-family: Monospace;
    font-weight: bold;
    background: linear-gradient(to right, #007CF0, #7928CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: fadeIn 2s forwards;
    transform: translateY(30px);
    animation: subirEaparecer 2s ease-out forwards;
}
@keyframes subirEaparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
    font-family: sans-serif;
    padding-left: 336px;

}

#iphones {
   /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 110px;
    justify-content: space-between; */
}
#steve{
    float: left;
    width: 330px;
    height: auto;
    opacity: 0;
    animation: fadeIn 4s forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.bem-vindo{
    color: rgb(170, 170, 170);
    padding-left: 400px;
}
#texto-inicial{
    color: rgb(170, 170, 170);
    padding-right: 230px;
    text-align:center;
}
.forte{
    color: white;
}
.nome-do-aparelho {
    font-size: 75px;
    font-family: Monospace;
    font-weight: bold;
    background: linear-gradient(to right, #007CF0, #7928CA);
    background-size: 25%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 100px;
}