body {
    background-color: rgb(14, 14, 14);
}

#logo-top {
    display: block;
    float: left;
    width: 43px;
    height: auto;
}

header {
    background-color: #1e1e2f;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -8px;
    margin-bottom: px;
}

.principal {
    text-align: center;
    font-size: 75px;
    font-family: Monospace;
    font-weight: bold;
    background: linear-gradient(to right, #007CF0, #7928CA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: translateY(30px);
    animation: subirEaparecer 4s ease-out forwards;
    animation-delay: 4s;
}
@keyframes subirEaparecer {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

p {
    font-family: sans-serif;
    padding-left: 336px;

}

#steve{
    float: left;
    width: 330px;
    height: auto;
    opacity: 0;
    animation: fadeIn 4s forwards;
    animation-delay: 4s;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.bem-vindo{
    color: rgb(170, 170, 170);
    padding-left: 400px;
}
#texto-inicial{
    color: rgb(170, 170, 170);
    padding-right: 230px;
    text-align:center;
}
.forte{
    color: white;
}
.nome-do-aparelho {
    font-size: 75px;
    font-family: Monospace;
    font-weight: bold;
    background: linear-gradient(to right, #007CF0, #7928CA);
    background-size: 25%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 100px;
}

.backdrop {
  position: fixed;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 1;
}

.desaparecido {
  opacity: 0 !important;
  transition: 0.3s ease;
}

.backdrop video {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}
select {
  background-color: #1e1e2f;     /* Cor de fundo */
  color: #ffffff;                /* Cor do texto */
  border: 2px solid #007CF0;     /* Borda personalizada */
  border-color: #7928CA    /* Cor quando o mouse passa por cima */
}

select:focus {
  outline: none;
}
option:hover {
  background-color: #2d2d44;
}
.foto-do-aparelho{
  width: 700px;
  margin: auto;
  display: block;
  height: auto;
}